{{> header }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Diferencias entre WLAN y WAN</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam nihil consectetur commodi eligendi recusandae aliquid totam veritatis nostrum veniam et! Enim eius molestias ex possimus maxime, omnis unde consequuntur. Earum.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione commodi quae repellendus atque reiciendis quisquam quam! Quos iusto recusandae accusantium voluptatibus ducimus ut ipsam officia, quasi enim hic cumque explicabo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus deserunt, facilis sint fugiat impedit quod, assumenda quae nesciunt dolores eum laborum dignissimos modi similique maxime obcaecati aspernatur quia nam alias!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam obcaecati omnis minima veniam aliquam numquam aspernatur cum quis necessitatibus, culpa sunt modi quos mollitia eos libero a dolorem explicabo. Quis?
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/image1.png" class="img-thumbnail">
        </div>
    </div>

{{> footer }}